<div class="row">
  <h1>Listagem de produtos</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="2">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="productInsertService.showModalInsert()">
          Novo produto
        </button>

      </td>
      <td colspan="3">
        <category-search-form (onSearch)="search($event)"></category-search-form>
      </td>
    </tr>
    <tr>
      <th style="width: 8%" [sortColumn]="sortColumn" columnName="id" (onSort)="sort($event)">ID</th>
      <th style="width: 55%" [sortColumn]="sortColumn" columnName="name" (onSort)="sort($event)">Nome</th>
      <th style="width: 10%" [sortColumn]="sortColumn" columnName="price" (onSort)="sort($event)">Preço</th>
      <th style="width: 12%;" [sortColumn]="sortColumn" columnName="created_at" (onSort)="sort($event)">Criado em</th>
      <th style="width: 15%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products | paginate: {itemsPerPage: pagination.perPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.price | moneyFormatBr }}</td>
      <td>{{ product.created_at.date | date: 'dd/MM/yyyy H:m' }}</td>
      <td>
        <a href="javascript:void(0)" (click)="productEditService.showModalEdit(product)"><i class="fa fa-edit"></i></a>
        |
        <a href="javascript:void(0)" (click)="productDeleteService.showModalDelete(product)"><i class="fa fa-trash-alt"></i></a>
        |
        <a [routerLink]="['/products',product.id,'categories','list']">Categorias</a>
      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>

<product-new-modal
        (onSuccess)="productInsertService.onInsertSuccess($event)"
        (onError)="productInsertService.onInsertError($event)">
</product-new-modal>

<product-edit-modal
        (onSuccess)="productEditService.onEditSuccess($event)"
        (onError)="productEditService.onEditError($event)">
</product-edit-modal>

<product-delete-modal
        (onSuccess)="productDeleteService.onDeleteSuccess($event)"
        (onError)="productDeleteService.onDeleteError($event)">
</product-delete-modal>