<div [formGroup]="form">
  <div class="form-group">
    <label [for]="fieldsOptions.name.id">{{ fieldsOptions.name.label }}</label>
    <input type="text" [id]="fieldsOptions.name.id" formControlName="name" IsInvalid class="form-control" placeholder="Informe o nome da categoria">
    <field-error [field]="form.get('name')" [label]="fieldsOptions.name.label" [messages]="fieldsOptions.name.validationMessage"></field-error>
  </div>
  <div class="form-group form-check">
    <input class="form-check-input" type="checkbox" name="active" formControlName="active" value="" id="active">
    <label class="form-check-label" for="active">
      Ativa?
    </label>
  </div>
</div>