<div class="row">
  <h1>Listagem de usuários</h1>

  <table class="table table-striped">
    <thead>
    <tr>
      <td colspan="5">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" (click)="userInsertService.showModalInsert()">
          Novo usuário
        </button>

      </td>
    </tr>
    <tr>
      <th style="width: 5%">ID</th>
      <th style="width: 70%">Nome</th>
      <th style="width: 10%">Email</th>
      <th style="width: 5%;">Criado em</th>
      <th style="width: 10%">Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users | paginate: {itemsPerPage: pagination.perPage, currentPage: pagination.page, totalItems: pagination.totalItems}">
      <td>{{ user.id }}</td>
      <td>{{ user.name }}</td>
      <td>{{ user.email}}</td>
      <td>{{ user.created_at.date | date: 'dd/MM/yyyy H:m' }}</td>
      <td>
        <a href="javascript:void(0)" (click)="userEditService.showModalEdit(user)"><i class="fa fa-edit"></i></a>
        |
        <a href="javascript:void(0)" (click)="userDeleteService.showModalDelete(user)"><i class="fa fa-trash-alt"></i></a>
      </td>
    </tr>
    </tbody>
  </table>

  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>

</div>

<user-new-modal
        (onSuccess)="userInsertService.onInsertSuccess($event)"
        (onError)="userInsertService.onInsertError($event)">
</user-new-modal>

<user-edit-modal
        (onSuccess)="userEditService.onEditSuccess($event)"
        (onError)="userEditService.onEditError($event)">
</user-edit-modal>

<user-delete-modal
        (onSuccess)="userDeleteService.onDeleteSuccess($event)"
        (onError)="userDeleteService.onDeleteError($event)">
</user-delete-modal>