<form (submit)="submit()">
  <modal>
    <h5 modal-title>
      Editar Usuário - {{ form.get('name').value }}
    </h5>

    <div modal-body>

      <card-error *ngIf="showErrors()">
        <list-error [errors]="errors"></list-error>
      </card-error>

      <user-form [form]="form"></user-form>
    </div>

    <div modal-footer>
      <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
      <button type="submit" class="btn btn-primary">Salvar</button>
    </div>

  </modal>
</form>